* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0 30px;
    width: 100%;
    background-color: rgb(230, 230, 230);
}
h1{
    
}
h2{

}
.item-grilla{
    margin: 5px 2px;  
}
.entrada-datos{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 17px 40px 17px 40px 12px 60px;
}
.out-precio{
    margin: 0px;
    border: 1px solid grey;
    padding: 4px;
    font-size: 26px;
}
.etiqueta-unitario{
    padding: 6px;
    font-size: 26px;
    text-align: center;
}
label{
    font-size: 16px;
}
