* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0 30px;
    width: 100%;
    background-color: rgb(230, 230, 230);
}
h1{
   font-size: 30px;
   margin: 4px 0px;
}
.barra-buscar{
    display: grid;
    grid-template-columns: 18% 64% 8% 10%;
    padding: 10px;
    align-items: center;
}
.nueva-cotizacion{
    height: 30px;
    width: 200px;
    background-color: rgb(180, 255, 180);
}
.buscar{
    font-size: 18px;
    padding: 7px 25px;
    margin: 0px;
}
.input-buscar{
    height: 30 px;
    padding: 3px 5px;
    font-weight: 400;
    font-size: 15px;
}
.item-grilla{
    margin: 5px 2px;  
}
.entrada-datos{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 17px 40px 17px 40px 12px 60px;
}
.out-precio{
    margin: 0px;
    border: 1px solid grey;
    padding: 4px;
    font-size: 26px;
}
.etiqueta-unitario{
    padding: 6px;
    font-size: 26px;
    text-align: center;
}
label{
    font-size: 16px;
}
.error{
    background-color: rgb(255, 180, 180);
}
.muestro-tipo-cambio{
    display: inline-flex;
    gap: 15px;
    font-size: 20px;
}